* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 1s;

}

body {
  color: white;
  background-color: black;
  transition: 1s;
  
}
.heading {
  position: absolute;
 color: yellow;
  text-align: center;
}
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: black;
  overflow: hidden;
  transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 0;
  width: inherit;
  text-align: center;
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.overlay:hover {
  color: aqua;
}
.close {
color: red; 
font-size: 60px;
cursor: pointer;
display: flex;
justify-content: flex-start;
}
.close:hover {
  color: aqua;
}
.overlay a {
  padding: 8px;
  scroll-padding-top: -20px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  color: yellow;
  padding-bottom: 20px;
}
.overlay a:hover , a:focus {
  color: red;
}
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
}
.open a {
  color: white;
  text-decoration: none;
  margin-right: -1px;
}
.open a:hover, a:active {
  color: aqua;
}
.java {
  display: none;
}
.img {
  margin-top: 100px;
}
.heading h1 {
  font-size: 50px;
}
.heading p {
  font-size: 25px;
}
.img {
  width: 100%;
}
.hold {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 300px;
}
.hold img {
  width: 100%;
  z-index: -1;
  position: relative;
}
.positions {
  background-color: black;
   margin: 0;
    padding: 5px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  .positions a {
    color: yellow;
    text-decoration: none;

  }
  .navbar1 {
    display: flex;
    justify-content: space-around;
  }
  .navbar1 a:hover {
    color: red;
    transition: 1s;
  }
  .navbar1 a:focus {
    color: red;
  }
  .navbar {
    display: none;
  }

  .login {
    cursor: pointer;
  }
  .logo {
    cursor: pointer;
    font-weight: bolder;
    color: aqua;
    border: 1px solid red;
    padding:0 10px;
  }
  .logo:hover {
    transition: 1s;
    color: red;
    background-color: blue;
  }
  button {
    padding: 7px;
    background-color: red;
    cursor: pointer;
    font-weight: bold;

  }
  .flex {
    border: 1px solid white;
    width: 350px;
    background-color: gold;
    color: black;
    font-size: 25px;
    text-align: center;
    margin: 10px;
  }
  .display {
    display: none;
  }
  .flex1 img {
    width: 100%;
    height: 400px;
  }
  .color {
    background-color:aqua;
    height: 50px;
    padding: 10px;
    width: 150px;
    border-radius: 50px;
    cursor: pointer;
    margin: 10px 100px;
  }
  .color:hover {
    background-color: red;
  }
  .holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .danny h1 {
    font-size: 100px;
    margin-top: -100px;
  }
  .danny p {
    font-size: 30px;
    width: 600px;
    margin-bottom: 50px;
  }
  .clas {
    background-color: aqua;
    width: 100px;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-right: 10px;
    opacity: 0.7;
    height: 25px;
  }
  .clas img:hover {
    opacity: 0.5;
    background-color: white;
  }
  .clas img {
    width: 20px;
  }
  @media screen and (min-width:1200px) {
    .navbar {
      display: block;
      position: sticky;
      position: relative;
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 250px;
      border-right: 1px solid aqua;
      background-color: black;
      position: fixed;
      height: 100%;
      overflow: auto;
  }
  .navbar img {
      width: 100%;
      align-content: center;
  }
    .navbar li a {
      display: block;
      color: yellow;
      padding: 8px 16px;
      text-decoration: none;
    }
    .navbar li a:hover {
      color: red;
      transition: 1s;
    }
    .actives {
      background-color:black;
      color: white;
    }
    
  .navbar li:hover {
    background-color: black;
  }
  .positions {
    display: none;
  }
  .border {
    margin-left: 300px;
  }
  .logo {
    text-align: center;
    padding: 20px;
  }
  .login {
    text-align: center;
  }
  .flex {
    width: 400px;
  }
  }
  @media screen and (max-width:500px) {
    
    .java {
      display: block;
    }
    .navbar1 {
      display: none;
    }
    .display {
      display: block;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: fixed ;
      width: 100%;
      top: 0;
      background-color: black;
    }
    .positions {
      display: none;
    }
    div a, .dropbtn {
      padding: 14px 16px;
      margin-right: 40px;
    }
    .her {
      display: none;
    }
    .heading h1{
      font-size: 20px;
    }
    .heading {
  position: static;

    }
    .heading p{
      font-size: 15px;
  }
  .danny h1 {
    font-size: 30px;
  }
  .danny p {
    font-size: 20px;
    width: 100%;
  }
  .flex {
    width: 100%;
    margin: 20px;
  }
  .hold {
    margin-bottom: 150px;
    margin-top: -9px;
  }
 * {
  overflow-y: auto;
 }
}
  
    